.bash_history
.bash_logout
.bashrc
.cache
.config
Desktop
Documents
Downloads
.eclipse
eclipse
.git
.gitconfig
.gitignore_global
.gitignore.swp
.gnupg
.java
.lesshst
.local
Music
Organizador
.p2
Pictures
.pki
.profile
Public
.python_history
snap
.ssh
.sudo_as_admin_successful
.swt
Templates
Videos
.viminfo
